@model List<Product>

<h1>Information about product</h1>
<table class="table table-bordered table-striped" style="width:10%">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Price</th>
        </tr>

        @foreach (var product in Model)
        {
            <tr>
                <th class="text-center">@product.Name</th>
                <th class="text-center">@product.Price</th>
            </tr>
        }
    </thead>
</table>