@inject ViewTask.Services.ITimeService TimeService
<body>
    <h1>Our shopping list</h1>



    <h3>It's time to shopping!</h3>
    <label> @TimeService.GetTimeForTomorrow().ToShortDateString()</label> 
    <label id="currentTime"> </label>
</body>