@inject ViewTask.Services.ITimeService TimeService
@model ViewTask.Models.ProductViewModel
<body>
    <h1 style="padding: 0 0 20px 0">Our shopping list</h1>

    <table border="1" class="grid-table">
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>

        @foreach (var product in Model.ProductsModel)
        {
            <tr>
                <td>@product.Key</td>
                <td>@product.Value</td>
            </tr>
        }
    </table>

    <h3 style="padding: 30px 0 0 0">It's time to shopping!</h3>
    <label> @TimeService.GetTimeForTomorrow().ToShortDateString()</label> 
    <label id="currentTime"> </label>
</body>